
<div class="menuWrap" id="magacin-meni">
	<div class="button">
		<a href="/magacin-stanje2" onclick="loadGif()">Stanje u magacinu</a>
	</div>
	<div class="button" id="nadji-nalog-2">
		<a href="/nadji-nalog-interno" onclick="loadGif()">Nađi Nalog</a>
	</div>
</div>