<%- include ("partials/header") -%>
<%- include ("partials/pdfGenerate") -%>
<div class="pageTitle">Fakturisanje</div>
<form method="POST" action="/fakture-generisanje">
	<input type="text" name="array">
	<input type="submit" value="Obracunaj">
</form>
<script>

</script>
<%- include ("partials/footer") -%>