<%- include ("partials/header") -%>
<%- include ("partials/premijusmenu") -%>
	<div class="pageTitle">Poruka od sistema</div>
	<div class="message"><%-message%></div>
<%- include ("partials/footer") -%>