<%- include ("partials/header") -%>
<%- include ("partials/menu") -%>

	<div class="pageTitle">Pregled Naloga</div>
	<script>
		document.getElementById("site-content").style.maxWidth="1400px";
		var nalozi = <%-JSON.stringify(nalozi)%>;
		for(var i=0;i<nalozi.length;i++){
			nalozi[i].vremePrijemaNaloga	=	Number(nalozi[i].uniqueId.split("--")[1]);
		}

		nalozi.sort(function(a, b) {
		    return parseFloat(b.vremePrijemaNaloga) - parseFloat(a.vremePrijemaNaloga);
		});
	</script>
	<div class="ukupno" id="ukupno"></div>
	<div id="pregled-naloga">
		<div class="opstinaFilter">
			<div class="title" style="color:rgb(0, 0, 0);">Filter opstine</div>
			<select id="opstina-filter" oninput="generateTable()">
				<option value="SVE" seleted="selected">SVE</option>
				<option value="RAKOVICA" seleted="selected">RAKOVICA</option>
				<option value="ČUKARICA">ČUKARICA</option>
				<option value="NOVI BEOGRAD">NOVI BEOGRAD</option>
				<option value="ZEMUN">ZEMUN</option>
				<option value="ZVEZDARA">ZVEZDARA</option>
				<option value="VRAČAR">VRAČAR</option>
				<option value="VOŽDOVAC">VOŽDOVAC</option>
				<option value="STARI GRAD">STARI GRAD</option>
				<option value="PALILULA">PALILULA</option>
				<option value="SAVSKI VENAC">SAVSKI VENAC</option>
			</select>
		</div>
		<div class="statusFilter" style="margin-top:10px">
			<div class="title" style="color:rgb(0, 0, 0);">Filter statusa</div>
			<select id="status-filter" oninput="generateTable()">
				<option value="" default="default"></option>
				<option value="Primljen" default="default">Primljen</option>
				<option value="Otvoren">Otvoren</option>
				<option value="Dodeljen majstoru">Dodeljen majstoru</option>
				<option value="Radovi u toku">Radovi u toku</option>
				<option value="Potrebna WOMA">Potrebna WOMA</option>
				<option value="Konstatacija">Konstatacija</option>
				<option value="Zamena">Zamena</option>
				<option value="Završeno">Završeno</option>
				<option value="Kopanje">Kopanje</option>
				<option value="Finalizacija">Finalizacija</option>
				<option value="Lokalni kvar">Lokalni kvar</option>
				<option value="Storniran">Storniran</option>
				<option value="Snimanje kamerom">Snimanje kamerom</option>
				<option value="Stanari odbijaju nalog">Stanari odbijaju nalog</option>
				<option value="Stanari nisu na adresi">Stanari nisu na adresi</option>
				<option value="Betonaža">Betonaža</option>
				<option value="Vraćen">Vraćen</option>
				<option value="Spreman za obračun">Spreman za obračun</option>
				<option value="Nalog u Stambenom">Nalog u Stambenom</option>
				<option value="Spreman za fakturisanje">Spreman za fakturisanje</option>
				<option value="Fakturisan">Fakturisan</option>
			</select>
		</div>
		<div class="dateFilterWrap">
			<div class="inputWrap">
				<div class="title" style="color:rgb(0, 0, 0);">Početak</div>
				<div class="inputWrapper">
					<input type="date" id="start-date" oninput="generateTable()">
				</div>
			</div>
			<div class="inputWrap">
				<div class="title" style="color:rgb(0, 0, 0);">Kraj</div>
				<div class="inputWrapper">
					<input type="date" id="end-date" oninput="generateTable()">
				</div>
			</div>
			<div class="inputWrap">
				<div class="inputWrapper">
					<input type="text" id="filter-adrese" oninput="generateTable()" placeholder="Filter adrese">
				</div>
			</div>
		</div>
		<div class="tableWrap">
			<div class="header">
				<div class="item redniBroj"><div class="value">Red.<br>Br.</div></div>
				<div class="item brojNaloga"><div class="value">Br.<br>Nal.</div></div>
				<div class="item adresa"><div class="value">Adresa</div></div>
				<div class="item opstina"><div class="value">Opština</div></div>
				<div class="item datum"><div class="value">Datum</div></div>
				<div class="item datumOdlaganja"><div class="value">Datum<br>Odl.</div></div>
				<div class="item opisKvara"><div class="value">Opis Kvara</div></div>
				<div class="item opisRadova"><div class="value">Opis Radova</div></div>
				<div class="item statusNaloga"><div class="value">Status Naloga</div></div>
				<div class="item iznosNaloga"><div class="value">Iznos</div></div>
			</div>
			<div id="table-wrap" style="height:500px;overflow:scroll">
				<div id="table-height" style="height:10000px">
					<table id="nalozi" style="position:sticky;top:0;border:1px solid rgb(0,0,0)"></table>
				</div>
			</div>

			<table id="nalozi"></table>
			<script>
				var rowHeight			=	40;
				var scrollableElement 	=	document.getElementById("table-wrap");
				scrollableElement.addEventListener("scroll", (event) => {
					generateTable();
				});
				
				function generateTable(){
					document.getElementById("nalozi").innerHTML	=	"";
					var numberOfElements	=	500/rowHeight;
					var scrollValue			=	scrollableElement.scrollTop;
					//Reset filters
					for(var i=0;i<nalozi.length;i++){
						nalozi[i].display = 1;
					}

					//Filter out elements
					//filter elements
					var filterPoJednojOpstini	=	document.getElementById("opstina-filter").value;
					var opstineFilter;
					if(filterPoJednojOpstini!="SVE"){
						opstineFilter	=	[filterPoJednojOpstini.toLowerCase().trim()];
					}
					for(var i=0;i<nalozi.length;i++){
						var opstinaNaloga	=	nalozi[i].radnaJedinica ? nalozi[i].radnaJedinica.toLowerCase().trim() : "";
						if(opstineFilter){
							if(opstineFilter.indexOf(opstinaNaloga)<0){
								nalozi[i].display=0;
							}
						}

						if(document.getElementById("start-date").value && document.getElementById("end-date").value){
							var startDateString	=	document.getElementById("start-date").value;
							var endDateString	=	document.getElementById("end-date").value;
							var startDate 		=	new Date(startDateString).getTime();
							var endDate 		=	new Date(endDateString).getTime();
							var invoiceDate		=	new Date(reshuffleDate2(nalozi[i].datum)).getTime();
							if(startDateString && endDateString){
								if((invoiceDate<startDate || invoiceDate>endDate) && nalozi[i].display == 1){
									nalozi[i].display=0;
								}
							}
						}

						if( nalozi[i].display == 1 ){
							var statusFilter = document.getElementById("status-filter").value;
							if(statusFilter){
								if(nalozi[i].statusNaloga!=statusFilter){
									nalozi[i].display=0;
								}
							}
						}

						if( nalozi[i].display == 1 ){
							var adresaFilter = document.getElementById("filter-adrese").value;
							if(adresaFilter){
								
								if(!nalozi[i].adresa.split(",")[0].toLowerCase().includes(adresaFilter.toLowerCase())){
									nalozi[i].display = 0;
								}
							}
						}
					}

					//calculate needed scroll height and total sum of prices
					var totalPrice 	=	0;
					var totalVATPrice = 0;
					var totalNaloga	=	0;
					var totalObracunatihNaloga	=	0;
					var totalBezPodizvodjaca	=	0;
					var totalNalogaPodizvodjaca	=	0;
					var totalNalogaPodizvodjacaObracunatih = 0;
					var totalPodizvodjaca	=	0;
					var naloziToShow	=	[];
					for(var i=0;i<nalozi.length;i++){
						if(nalozi[i].display==1){
							naloziToShow.push(nalozi[i]);
							if(!isNaN(parseFloat(nalozi[i].ukupanIznos))){
								if(nalozi[i].statusNaloga!="Storniran" &&  nalozi[i].statusNaloga!="Storniran na SEF-u"){
									totalPrice = eval(totalPrice + parseFloat(nalozi[i].ukupanIznos));
									if(parseFloat(nalozi[i].ukupanIznos)<500000){
										totalVATPrice = eval(totalVATPrice+parseFloat(nalozi[i].ukupanIznos)*0.2);
									}
									totalNaloga++;
									if(parseFloat(nalozi[i].ukupanIznos)>0){
										totalObracunatihNaloga++;
										if(podizvodjaci.indexOf(nalozi[i].majstorNaloga)<0){
											totalNalogaPodizvodjacaObracunatih++;
										}
									}
									if(podizvodjaci.indexOf(nalozi[i].majstorNaloga)>=0){
										totalNalogaPodizvodjaca++;
										totalPodizvodjaca = eval(totalPodizvodjaca + parseFloat(nalozi[i].ukupanIznos));
									}
								}
								
							}
						}
					}

					document.getElementById("ukupno").innerHTML	= "Ukupan broj prikazanih naloga: <span>"+totalNaloga+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan broj obracunatih naloga: <span>"+totalObracunatihNaloga+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan broj naloga podizvodjaca: <span>"+totalNalogaPodizvodjaca+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan iznos od prikazanih naloga: <span>"+brojSaRazmacima(totalPrice)+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan iznos naloga podizvodjaca: <span>"+brojSaRazmacima(totalPodizvodjaca)+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan iznos naloga Poslovi Grada: <span>"+brojSaRazmacima(totalPrice - totalPodizvodjaca)+"</span><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupan PDV za prikazane naloge: <span>"+brojSaRazmacima(totalVATPrice)+"</span><i>nalozi preko 500 000 ne ulaze u obracun PDV-a</i><br>";
					document.getElementById("ukupno").innerHTML	+= "Ukupno za prikazane naloga: <span>"+brojSaRazmacima(eval(totalVATPrice+totalPrice))+"</span>";


					var scrollHeight	=	naloziToShow.length*rowHeight;
					document.getElementById("table-height").scrollTop	=	0;
					document.getElementById("table-height").style.height	=	scrollHeight + "px";
					var startIndex		=	Math.floor(scrollValue / rowHeight);
					var endIndex		=	startIndex + numberOfElements;
					var highlightNext	=	false;

					for(var i = startIndex;i<endIndex;i++){
						if(naloziToShow[i]){
							
							var row		=	document.createElement("TR");
							row.setAttribute("class","row");
							row.setAttribute("onclick","window.open('/pdfView/"+naloziToShow[i].uniqueId+"', '_blank');");
								var item 	=	document.createElement("TD");
								item.setAttribute("class","redniBroj");
								item.innerHTML	=	"<div class='value'>"+eval(i+1)+".";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","brojNaloga");
								item.innerHTML	=	"<div class='value'>"+naloziToShow[i].broj+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","adresa");
								item.innerHTML	=	"<div class='value'>"+naloziToShow[i].adresa.split(",")[0]+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","opstina");
								item.innerHTML	=	"<div class='value'>"+naloziToShow[i].radnaJedinica+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","datum");
								item.innerHTML	=	"<div class='value'>"+naloziToShow[i].datum.split("god.")[0].trim()+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","datumOdlaganja");
								var valueToShow	=	naloziToShow[i].datumOdlaganja ? reshuffleDate(naloziToShow[i].datumOdlaganja) : "";
								item.innerHTML	=	"<div class='value'>"+valueToShow+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","opisKvara");
								var valueToShow	=	naloziToShow[i].opis ? naloziToShow[i].opis : "";
								item.innerHTML	=	"<div class='value'>"+valueToShow+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","opisRadova");
								var valueToShow	=	naloziToShow[i].opisRadova ? naloziToShow[i].opisRadova : "";
								item.innerHTML	=	"<div class='value'>"+valueToShow+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","statusNaloga");
								var valueToShow	=	naloziToShow[i].statusNaloga ? naloziToShow[i].statusNaloga : "";
								item.innerHTML	=	"<div class='value'>"+valueToShow+"</div>";
								row.appendChild(item);

								var item 	=	document.createElement("TD");
								item.setAttribute("class","iznosNaloga");
								var valueToShow	=	naloziToShow[i].ukupanIznos ? brojSaRazmacima(naloziToShow[i].ukupanIznos) : "0.00";
								item.innerHTML	=	"<div class='value'>"+valueToShow+"</div>";
								row.appendChild(item);

							document.getElementById("nalozi").appendChild(row);
						}
						
					}

				}
				generateTable();
				
			</script>
		</div>
	</div>
	
<%- include ("partials/footer") -%>
